{% extends 'base.html' %}
{% block content %}
<h2>{{page}}</h2>

{% for q in page.object_list %}
<p>{{q}}</p>
<form method="POST" action="#" class="{{q.id}}">
    {% csrf_token %}
    <div class="form-check">
        <label for="option-1" class="form-check-label">
            <input type="radio" class="form-check-input" id="option-1" name="{{q.id}}" value="{{q.option_A}}">
            {{q.option_A}}
        </label>
    </div>
    <div class="form-check">
        <label for="option-2" class="form-check-label">
            <input type="radio" class="form-check-input" id="option-2" name="{{q.id}}" value="{{q.option_B}}">
            {{q.option_B}}
        </label>
    </div>
    <div class="form-check">
        <label for="option-3" class="form-check-label">
            <input type="radio" class="form-check-input" id="option-3" name="{{q.id}}" value="{{q.option_C}}">
            {{q.option_C}}
        </label>
    </div>
    <div class="form-check">
        <label for="option-4" class="form-check-label">
            <input type="radio" class="form-check-input" id="option-4" name="{{q.id}}" value="{{q.option_D}}">
            {{q.option_D}}
        </label>
    </div>
</form>
<button class="btn btn-success float-right submit_button" data-question="{{q.id}}">Submit</button>
{% if page.has_next %}
<a href="?page={{page.next_page_number}}" class="btn btn-primary float-right next"
    style="pointer-events: none;cursor:default;">Next</a>
{% else %}
<a href="{% url 'codetreasure:prelm_status' %}" class="btn btn-primary float-right next"
    style="pointer-events:none;cursor:default">Next</a>
{% endif %}
{% endfor %}
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {

        var count = 0

        $(window).focus(function () {
            count = count + 1
            console.log(count);
            if (count === 1) {
                alert("Tab Switching is not Allowed more than 2 times.\nTab Switch Count: 1");
            }
            else if (count === 2) {
                alert("Tab Switching is not Allowed more than 2 times.\nTab Switch Count: 2");
            }
            else {
                alert("Exam Over!!!!!!");
            }
        });

        $(".submit_button").click(function () {
            //Question id
            var q_id = $(this).attr('data-question')
            //Answer
            var answer = $("input[name=" + q_id + "]:checked").attr('value')
            $.ajax({
                headers: {
                    "X-CSRFTOKEN": "{{ csrf_token }}",
                    'contentType': 'application/json;charset=utf-8',
                },
                url: "{% url 'codetreasure:prelims' %}",
                type: 'post',
                data: { 'answer': answer, 'q_id': q_id },
                dataType: 'json',
                success: function (data) {
                    if (data['save'] == "something wrong") {
                        alert("You have already attended this question");
                        $('.next').removeAttr("style")
                    }
                    else if (data['save'] == "completed") {
                        alert("Submitted successfully")
                        $('.next').removeAttr("style")
                    }
                }
            });
        });
    })
</script>
{% endblock %}