{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row flex-grow-1" id="back-img">
        <div class="col-12 col-lg-7 text-center my-auto pb-md-5 pb-3">
          <div class="row">
            <div class="col-12">
              <h2 class="dis-1 merienda text-indigo-600 ">Crest Fest 2K21</h2>
              <p class="merienda text-pink-500">"A Virtual Inter-College Tech Festival by PSG CAS.<br>Department of Computer Science (UA)"</p>
            </div>
            <div class="col-12  mt-4 my-3">
              <p class="text-xl text-indigo-600">Registration Starts on <span class="merienda text-pink-500">March 10th, 2021</span></p>
            </div>
            <div
              class="col-12 col-md-6 shadow mx-auto rounded-xl varela text-indigo-600 border-2 border-pink-500"
            >
              <div class="d-flex md:font-semibold justify-content-around py-3">
                <div class=""><span id="day-id">04</span><br />Days</div>
                <div class="">:</div>
                <div class=""><span id="hour-id">16</span><br />Hours</div>
                <div class="">:</div>
                <div class=""><span id="min-id">32</span><br />Minutes</div>
                <div class="">:</div>
                <div class=""><span id="sec-id">53</span><br />Seconds</div>
              </div>
            </div>
            <div class="col-12 mt-5 font-semibold">
              <a href="{% url 'signup' %}" 
                class="btn btn-disabled text-white bg-pink-500 hover:bg-pink-600 focus:ring-4 focus:ring-pink-300 px-4 mx-2"
              >
                Register
              </a>
              <a href="#events-div"
                class="btn border-2 border-indigo-500 text-indigo-500 hover:bg-indigo-500 hover:text-white focus:ring-4 focus:ring-indigo-300 px-4 mx-2"
              >
                View Events
            </a>
            </div>
          </div>
        </div>
        <div class="hidden lg:block col-12 col-md-5 pb-md-5 pb-3" id="landing-im">
          <img
            class="absolute inset-y-0 right-0 z-0"
            src="{% static 'img/top_right_bg.png' %}"
          />
        </div>
      </div>
    </div>

    <div class="container-fluid bg-gray-50 my-3 py-3 px-md-5" id="events-div">
      <h1 class="text-5xl text-indigo-500 text-center noto">Events</h1>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-24 my-4 z-10">
        <div class="bg-white shadow-xl relative rounded-3xl">
            <img class=" mx-auto" style="width:100%;height:auto;" src="{% static 'img/geekspeak_logo.webp' %}"/>
            <!-- <h2 class="text-2xl text-center text-purple-600 font-semibold mt-n2 mb-2 noto">Geek Speak</h2> -->
            <p class="px-3 text-justify text-gray-400 pb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam laborum atque adipisci omnis labore veniam ullam, modi ad illum architecto! Expedita, obcaecati dolorum tempora libero neque temporibus nulla totam unde!</p>
            <p align="center">
              <a href="{% url 'event_register' %}#geekspeak" class="btn mx-auto mb-3 bg-pink-500 rounded-full shadow-md text-white hover:bg-pink-600 focus:ring-2 focus:ring-pink-300">View Details</a>
            </p>
        </div>
        <div class="bg-white shadow-xl rounded-3xl">
            <img class="rounded-3xl" style="width:100%;height:auto;" src="{% static 'img/ransack_logo.webp' %}"/>
            <!-- <h2 class="text-2xl text-center text-purple-600 font-semibold mt-n2 mb-3 noto">Ransack</h2> -->
            <p class="px-3 text-justify text-gray-400 pb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam laborum atque adipisci omnis labore veniam ullam, modi ad illum architecto! Expedita, obcaecati dolorum tempora libero neque temporibus nulla totam unde!</p>
            <p align="center">
              <a href="{% url 'event_register' %}#ransack" class="btn mx-auto mb-3 bg-pink-500 rounded-full shadow-md text-white hover:bg-pink-600 focus:ring-2 focus:ring-pink-300">View Details</a>
            </p>
        </div>
        <div class="bg-white shadow-xl rounded-3xl ">
            <img class="bg-white rounded-3xl" style="width:100%;height:auto;" src="{% static 'img/code_treasure_logo.webp' %}"/>
            <!-- <h2 class="text-2xl text-center text-purple-600 font-semibold mt-n2 mb-3 noto">Code Treasure</h2> -->
            <p class="px-3 text-justify text-gray-400 pb-3">An event which consists of various technical related questions ( like code shuffling,binary code ,spot the irrelevant line, technical quiz etc.</p>
            <p align="center">
              <a href="{% url 'event_register' %}#codetreasure" class="btn mx-auto mb-3 bg-pink-500 rounded-full shadow-md text-white hover:bg-pink-600 focus:ring-2 focus:ring-pink-300">View Details</a>
            </p>
        </div>
        <div class="bg-white shadow-xl rounded-3xl">
            <img class="rounded3-xl mx-auto" style="width:100%;height:auto;" src="{% static 'img/Impreza_logo.webp' %}"/>
            <!-- <h2 class="text-2xl text-center text-purple-600 font-semibold mt-n2 mb-3 noto">Impreza</h2> -->
            <p class="px-3 text-justify text-gray-400 pb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam laborum atque adipisci omnis labore veniam ullam, modi ad illum architecto! Expedita, obcaecati dolorum tempora libero neque temporibus nulla totam unde!</p>
            <p align="center">
              <a href="{% url 'event_register' %}#impreza" class="btn mx-auto mb-3 bg-pink-500 rounded-full shadow-md text-white hover:bg-pink-600 focus:ring-2 focus:ring-pink-300">View Details</a>
            </p>
        </div>
        <div class="bg-white shadow-xl rounded-3xl">
            <img class="" style="width:100%;height:auto;;" src="{% static 'img/webdodger2.webp' %}"/>
            <!-- <h2 class="text-2xl text-center text-purple-600 font-semibold mt-n2 mb-3 noto">Web Dodger</h2> -->
            <p class="px-3 text-justify text-gray-400 pb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam laborum atque adipisci omnis labore veniam ullam, modi ad illum architecto! Expedita, obcaecati dolorum tempora libero neque temporibus nulla totam unde!</p>
            <p align="center">
              <a href="{% url 'event_register' %}#webdodger" class="btn mx-auto d-inline-flex mb-3 bg-pink-500 rounded-full shadow-md text-white hover:bg-pink-600 focus:ring-2 focus:ring-pink-300">View Details</a>
            </p>
        </div>
      </div>
      </div>
{% endblock %}