{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<section class="container-fluid d-flex flex-grow-1 bg-gray-200 pb-5" >
	<div class="my-auto mx-auto col-12 col-md-6 col-lg-4 card px-4 pb-5 pt-2 border-1 rounded-3xl shadow-xl text-indigo-700">
		<h3 class="text-center">Forgot password</h3>
  		<form method="post" class="form">
    		{% csrf_token %}
    		{{ form|crispy }}
    		<div class="input-group mt-4">
    			<button type="submit" class="btn btn-block text-white bg-pink-500 hover:bg-pink-600 focus:ring-4 focus:ring-pink-300 px-3 mx-auto">Submit</button>
    		</div>
  		</form>
	</div>
</section>
{% endblock %}