{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Word Hunt Score Page | Prelims</title>
{% endblock %}

{% block head %}

<style>
    .table_wrapper {
        max-height: 450px;
        overflow-y: auto;
        display: inline-block;
    }

    /* Table */
    /* Table Scrollbar Hide */
    .table::-webkit-scrollbar {
        /* Chrome,Edge,Opera,Firefox */
        width: 0px;
        background: transparent;
    }

    .table_wrapper {
        /* Chrome,Edge,Opera,Firefox */
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .table_wrapper::-webkit-scrollbar {
        /* Chrome,Edge,Opera,Firefox */
        width: 0px;
    }
</style>

{% endblock %}

{% block content %}
<h3>Word Hunt Prelims</h3>

<section class="container">
    <div class="table-responsive table_wrapper">
        <table class="table my-1 my-md-2">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Student Email id</th>
                    <th scope="col">Score (20)</th>
                </tr>
            </thead>
            <tbody>
                {% for final in code_score %}
                <tr scope="row" class="text-center">
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{final.student}}</td>
                    <td>{{final.score}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}