{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
{% if section %}
<title> Ransack | Round Prelims</title>
{% else %}
<title> Ransack | Round Finals</title>
{% endif %}
{% endblock %}

{% block content %}
<!-- Section A -->
{% if questionsA %}
<h2>Section A</h2>
{% for question in questionsA %}

<h4>{{forloop.counter}}.{{question.question}}</h4>

{% for q in question.images.all %}
<img src="{{ q.image.url }}" alt="img" width="250" />
{% endfor %}

<form method="POST" class="needs-validation" novalidate data-id="{{question.id}}">
    {% csrf_token %}
    {{ answer_form|crispy }}
    <input type="button" class="btn btn-success next" value="Next" id="sub">
</form>

{% endfor %}

{% else %}
<h1> There might be some problem </h1>
{% endif %}

<!-- Section B -->
{% if questionsB %}
<h2>Section B</h2>

{% for question in questionsB %}
<h4>{{forloop.counter}}.{{question.question}}</h4>

{% for q in question.images.all %}
<img src="{{ q.image.url }}" alt="img" width="250" />
{% endfor %}

<form method="POST" class="needs-validation" novalidate data-id="{{question.id}}">
    {% csrf_token %}
    {{ answer_form|crispy }}
    <input type="button" class="btn btn-success next" value="Next" id="sub">
</form>

{% endfor %}

{% else %}
<h1> There might be some problem </h1>
{% endif %}
{% endblock %}

{% block script %}
<script>
    $(".next").click(function () {
        // Answer 
        var answer = $(this).parent().find("#id_user_answer").val();
        // Question id
        var question_id = $(this).parent().attr('data-id');

        $.ajax({
            headers: {
                "X-CSRFTOKEN": "{{ csrf_token }}",
                'contentType': 'application/json;charset=utf-8',
            },
            url: "{% url 'wordhunt:answer_submit_prelims' %}",
            type: 'post',
            data: { 'answer': answer, 'question_id': question_id },
            dataType: 'json',
            success: function (data) {
                if (data.is_taken) {
                    alert("You have already attended this question");
                }
            }
        });
    });
</script>

{% endblock %}