{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container-fluid bg-gradient-to-r from-indigo-400 to-purple-600">
    <form method="POST" class="form needs-validation" enctype="multipart/form-data" autocomplete="off" novalidate>
        {% csrf_token %}
    <div class="text-center">
        <h2 class="m-0 text-white">Student Registration Form</h2>
    </div>
    <div class="grid grid-cols-1 col-12 col-md-10 col-lg-6 mx-auto my-4 ">
        <div class="rounded-3xl shadow p-4 bg-white text-indigo-500">
            <h3 class="text-center">Personal Details</h3>
            <div class="form-row" id="create_staff">
            <div class="form-group col-md-12">
                {{ form1.profile_pic|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 pr-md-2">
                {{ form.first_name|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 pl-md-2">
                {{ form.last_name|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 pl-md-2">
                {{ form.mobile|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 pr-md-2">
                {{ form.email|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 pr-md-2">
                {{ form.password|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 pl-md-2">
                {{ form.confirm_password|as_crispy_field }}
            </div>
            <div class="form-group col-12 pr-md-2">
                {{ form1.address|as_crispy_field }}
            </div>
            </div>
            <h3 class="text-center">Student Details</h3>
            <div class="form-row" id="">
            <div class="form-group col-md-6 pr-md-2">
                {{ form1.college|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 pl-md-2">
                {{ form1.college_address|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 pr-md-2">
                {{ form1.dept|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 pl-md-2">
                {{ form1.roll_no|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 pr-md-2">
                {{ form1.id_proof|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 pr-md-2">
                {{ form1.bonafide|as_crispy_field }}
            </div>
            <div class="form-group col-12 d-flex justify-content-center justify-content-md-start">
                <button class="btn mx-auto text-white bg-pink-500 hover:bg-pink-600 focus:ring-4 focus:ring-pink-300 px-4 mx-2" type="submit">
                    Register
                </button>
            </div>
        </div>
        </div>
    </div>
    </form>
</div>
{% endblock %}