{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
{% if section %}
<title> Web Dodger | Round Prelims</title>
{% else %}
<title> Web Dodger | Round Finals</title>
{% endif %}
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Upload</button>
</form>
{% endblock %}

{% block script %}
<script>

    $(document).ready(function () {

        var count = 0, round;
        {% if section %}
        // Prelims
        round = "prelims";
        {% else %}
        // Finals
        round = "finals";
        {% endif %}

        $(window).focus(function () {
            count = count + 1
            if (count === 1) {
                alert("Tab Switching is not Allowed more than 2 times.\nTab Switch Count: 1");
            }
            else if (count === 2) {
                alert("Tab Switching is not Allowed more than 2 times.\nTab Switch Count: 2");
            }
            else {
                alert("Exam Over!!!!!!");
                $.ajax({
                    headers: {
                        "X-CSRFTOKEN": "{{ csrf_token }}",
                        'contentType': 'application/json;charset=utf-8',
                    },
                    url: "{% url 'imageupload:exit_test' %}",
                    type: 'post',
                    data: { 'round': round, 'event': 'poster' },
                    dataType: 'json',
                    success: function (data) {
                        if (data.is_taken) {
                            window.close();
                            close();
                        }
                    }
                });
            }
        });
    });
</script>

{% endblock %}