{% extends 'base.html' %}
{% block content %}
{% for q in question_set %}
    <h2>Question 1 :</h2>
    <h4>{{q}}</h4>
    <input type="text" class="form-control" placeholder="Enter your answers here...">
    <button type="button" class="btn btn-success float-right next" data-question="{{q.id}}">Next</button>
{% endfor %}
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function(){
            $(".next").click(function(){
                //Question id
                var q_id=$(this).attr('data-question')
                //answer
                var answer=$(this).prev().val()
                if(answer.length==0){
                    alert("Please fill the answer otherwise you can't go to the next page")
                }
                else{
                    $.ajax({
                        headers: {
                            "X-CSRFTOKEN": "{{ csrf_token }}",
                            'contentType': 'application/json;charset=utf-8',
                        },
                        url: "{% url 'codetreasure:final_binary_function' %}",
                        type: 'post',
                        data: { 'answer': answer, 'q_id': q_id },
                        dataType: 'json',
                        success: function (data) {
                            if (data['result']=="already entered") {
                                alert("You have already attended this question");
                            }
                            else if(data['result']=="success"){
                                console.log("hello success")
                            }
                        }
                    });
                }
               
            });
        });
    </script>
{% endblock %}