html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.varela {
  font-family: "Varela Round", sans-serif;
}
p.varela {
  line-height: 2.5rem;
  /*font-size: 120%;*/
}
.merienda {
  font-family: "Merienda", cursive;
}
.noto {
  font-family: "Noto Serif", serif;
}
.dis-1 {
  font-size: 2.3rem;
}
@media (min-width: 576px) {
  .dis-1 {
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  .dis-1 {
    font-size: 4rem;
  }
}
@media (min-width: 992px) {
  .dis-1 {
    font-size: 5rem;
  }
}
@media (min-width: 1200px) {
  .dis-1 {
    font-size: 6rem;
  }
  .dis-1 {
    font-size: 4rem;
  }
}
.unstyled-link {
  color: inherit;
}
.unstyled-link:hover {
  text-decoration: none;
  color: inherit;
  transform: scale(1.01);
}

@media (min-width: 768px) {
  #landing-img {
    background-image: url("top_right_bg.png");
    background-repeat: no-repeat;
    background-size: auto;
  }
}
@media (min-width: 1920px) {
  #landing-img {
    background-image: url("top_right_bg.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

/* .container {
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
} */
h1 {
  display: block;
  font-size: 2rem;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: "Noto Serif", serif;
}
h2 {
  display: block;
  font-size: 1.5rem;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: "Noto Serif", serif;
}
h3 {
  display: block;
  font-size: 1.17rem;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: "Noto Serif", serif;
}
h4 {
  display: block;
  font-size: 1rem;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: "Noto Serif", serif;
}
h5 {
  display: block;
  font-size: .83rem;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: "Noto Serif", serif;
}
h6 {
  display: block;
  font-size: .67rem;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: "Noto Serif", serif;
}

/* Customizing Django crispy + Bootstrap */
.asteriskField {
  color: red !important;
}

.invalid-feedback {
  padding: 10px 0px 0px 15px;
}